.question-details-wrapper {
    position: relative;
    max-width: 940px;
    margin: auto;
    padding: 0 20px 80px 20px;
    margin-top: 64px;

    .question-manage-container {
        position: absolute;
        top: 10px;
        right: 30px;

        display: flex;
        gap: 15px;

        .manage-btn {
            border-radius: 50%;
            height: 30px;
            width: 30px;

            transition: 0.3s;
            &:hover{
                background: rgba(0, 0, 0, 0.09);
            }
        }
    }

    .subject-grade {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 2.66;
        letter-spacing: 0.08333em;
        text-transform: uppercase;
    }

    .title {
        font-size: 2.125rem;
        font-weight: 400;
        line-height: 1.235;
        letter-spacing: 0.00735em;
    }

    .date-author {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.03333em;
    }

    .description {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
    }
}
