* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #faf9f7;
}

button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
