.comment-card {
    position: relative;
    display: flex;
    gap: 16px;

    padding: 40px 20px;
    overflow-wrap: break-word;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    background: #fff;

    .comment-manage-container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        gap: 10px;

        .manage-btn {
            border-radius: 50%;
            height: 30px;
            width: 30px;

            transition: 0.3s;
            &:hover {
                background: rgba(0, 0, 0, 0.09);
            }
        }
    }

    .icon-container {
        margin-top: -2px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .author {
            font-weight: bold;
        }

        .comment-content {
            color: rgba(0, 0, 0, 0.87);
        }

        .date {
            color: rgba(0, 0, 0, 0.54);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.00938em;
        }
    }
}
