.notification-container {
    display: none;
    min-width: 280px;
    height: 48px;
    left: 50%;
    bottom: 8px;
    transform: translateX(-50%);
    z-index: 1400;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;

    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    border-radius: 8px;

    &.success {
        display: flex;

        background: #4caf50;
    }

    &.error {
        display: flex;

        background: #f44336;
    }

    .message {
        text-align: center;
        font-size: 0.95rem;
        font-weight: 500;
        line-height: 1.43;
        letter-spacing: 0.01071em;
        color: white;
        margin-right: 8px;
    }

    .close-btn {
        height: 22px;
        border-radius: 50%;
        transition: 0.3s;

        &:hover {
            background: rgba(0, 0, 0, 0.09);
        }
    }
}
