.question-card {
    width: 300px;
    height: 220px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    .date-grade-container {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        color: rgba(0, 0, 0, 0.65);

        display: flex;
        justify-content: space-between;
    }

    .subject {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.334;
        letter-spacing: 0em;
    }

    .title {
        font-size: 1.05rem;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: 0.01071em;
    }

    .open-btn {
        width: 100%;
        background: #3f51b5;
        color: white;
        padding: 5px 10px;
        border-radius: 15px;

        font-weight: 500;
        line-height: 1.75;
        letter-spacing: 0.01857em;
        text-transform: uppercase;

        transition: 0.3s;
        &:hover {
            background: #2e3f9e;
        }
    }
}
