.intro-text {
    max-width: 600px;
    margin: auto;
    margin-top: 80px;

    .title {
        margin: auto;
        max-width: 270px;
        border-bottom: 1px solid black;
        padding-bottom: 15px;

        text-align: center;

        color: rgba(0, 0, 0, 0.87);
        font-size: 3.75rem;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -0.00833em;
    }

    .description {
        margin-top: 10px;
        text-align: center;

        color: rgba(0, 0, 0, 0.54);
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.334;
        letter-spacing: 0em;
    }
}
