.comment-section-wrapper {
    max-width: 940px;
    margin: auto;
    padding: 0 20px;

    .title {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.235;
        letter-spacing: 0.00735em;
    }

    .comments-list-container {
        margin-top: 40px;
    }
}
