.login-wrapper {
    max-width: 1440px;
    margin: auto;
    margin-top: 80px;

    .login-form {
        max-width: 396px;
        margin: auto;

        .icon-container {
            display: flex;
            justify-content: center;
        }

        .title {
            margin-top: 5px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.334;
            letter-spacing: 0em;
        }

        .input-field {
            color: rgba(0, 0, 0, 0.54);
            padding: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.00938em;
            padding: 10px;

            margin-top: 20px;
            outline: none;
            width: 100%;
            height: 56px;
            border-radius: 8px;
            border: 2px solid #c0c0c0;

            &:hover {
                border-color: #202020;
            }

            &:focus {
                border: 2px solid #3f51b5;
            }
        }

        .submit-btn {
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            margin-top: 30px;
            width: 100%;
            background: #3f51b5;
            color: white;
            padding: 5px 10px;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.75;
            border-radius: 8px;
            letter-spacing: 0.02857em;
            text-transform: uppercase;

            transition: 0.3s;
            &:hover {
                background: #2e3f9e;
            }
        }

        .link {
            margin-top: 15px;
            color: #3f51b5;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.43;
            letter-spacing: 0.01071em;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
