.drawer-container {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.2s ease-out;
}

.drawer-container.open {
    transform: translateX(0);
}
